.teacher-card[data-v-5e2af78b]{transition:transform .2s,box-shadow .2s}.teacher-card[data-v-5e2af78b]:hover{transform:translateY(-2px);box-shadow:0 4px 12px #0000001a}.border-orange[data-v-5e2af78b]{border:2px solid #ff9800!important}
