.course-card[data-v-f865bbe3]{transition:transform .2s,box-shadow .2s}.course-card[data-v-f865bbe3]:hover{transform:translateY(-2px);box-shadow:0 4px 12px #0000001a}.border-primary[data-v-f865bbe3]{border:2px solid #1976d2!important}
