.video[data-v-8becc521]{max-width:100%}.crop-canvas[data-v-8becc521]{border:3px solid #21ba45;max-width:100%;margin:12px 0;border-radius:12px;cursor:crosshair;touch-action:none;box-shadow:0 4px 12px #0003}
