.fade-scale-enter-active[data-v-e2f6a6a1],.fade-scale-leave-active[data-v-e2f6a6a1]{transition:all .2s ease}.fade-scale-enter-from[data-v-e2f6a6a1],.fade-scale-leave-to[data-v-e2f6a6a1]{opacity:0;transform:scale(.95)}
