.dropdown-enter-active[data-v-3e892f19],.dropdown-leave-active[data-v-3e892f19]{transition:opacity .2s,transform .2s}.dropdown-enter-from[data-v-3e892f19],.dropdown-leave-to[data-v-3e892f19]{opacity:0;transform:translateY(-10px)}
