.dropdown-enter-active[data-v-adb523e6],.dropdown-leave-active[data-v-adb523e6]{transition:opacity .2s,transform .2s}.dropdown-enter-from[data-v-adb523e6],.dropdown-leave-to[data-v-adb523e6]{opacity:0;transform:translateY(-10px)}
