.dropdown-enter-active[data-v-073e5a91],.dropdown-leave-active[data-v-073e5a91]{transition:opacity .2s,transform .2s}.dropdown-enter-from[data-v-073e5a91],.dropdown-leave-to[data-v-073e5a91]{opacity:0;transform:translateY(-10px)}
