.dropdown-enter-active[data-v-03920fc4],.dropdown-leave-active[data-v-03920fc4]{transition:opacity .2s,transform .2s}.dropdown-enter-from[data-v-03920fc4],.dropdown-leave-to[data-v-03920fc4]{opacity:0;transform:translateY(-10px)}
