.draggable-task-item[data-v-91e62c68]{cursor:move;position:relative}.draggable-task-item.dragging[data-v-91e62c68]{opacity:.5}.draggable-task-item.drag-over[data-v-91e62c68]{border-top:2px solid var(--q-primary)}
