.draggable[data-v-38cbfae5]{position:absolute;width:50px;height:50px;background-color:#2196f3;color:#fff;display:flex;align-items:center;justify-content:center;font-weight:700;border-radius:4px;cursor:pointer}
