.q-card[data-v-6b7dcf9d]{max-width:800px;margin:0 auto}pre[data-v-6b7dcf9d]{font-family:Courier New,monospace;font-size:12px;overflow-x:auto}@media (max-width: 599px){.q-card[data-v-6b7dcf9d]{margin:0}}
