.modal-content[data-v-0eafee2a]{max-height:90vh;margin:2rem auto}.modal-body[data-v-0eafee2a]{overflow-y:auto;max-height:calc(90vh - 4rem)}dialog[data-v-0eafee2a]::backdrop{background-color:#00000080}
