.question-details-dialog[data-v-ab0b98a6]{display:flex;flex-direction:column;height:100vh}.answers-container[data-v-ab0b98a6]{max-height:calc(100vh - 400px);overflow-y:auto}.q-card[data-v-ab0b98a6]{border-radius:8px}
