.puzzle-container[data-v-442ff884]{position:relative;display:inline-block}.puzzle-image[data-v-442ff884]{max-width:100%;height:auto}.dots-overlay[data-v-442ff884]{position:absolute;top:0;left:0;pointer-events:none}
